<!DOCTYPE html>
<html>
  <header> <style>
    table {
      border-collapse: collapse;
      margin: 10px 10px 10px 10px;

    }
    td {
     border: 1px solid;
     width: 10px;
     height: 10px;
    }
    
    </style></header>
<body>
  <p>ciao  <%= nome %>, <%= email %></p>
    <form id ="mossaForm" action="#">
        
        
        <p>livello</p>
        <select name="livello" id="lev">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
          </select>
          <p>riga</p>
          <select name="riga" id="row">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            </select>
            <p>colonna</p>
          <select name="colonna" id="col">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            </select>
        <button id="bottone"> Fai la mossa</button>

        

       

          
  </form>
  <form id = 'form'>
  <p>Inserisci la mail del tuo avversario</p>
  <input type = "text" id = 'mail'> </input>
  <button type="submit"> conferma la mail</button>
</form>
  
  <table >
    <tr><td id="1a"></td><td id ="2a"></td><td id = "3a"></td><td id ="4a"></td></tr>
    <tr><td id="5a"></td><td id ="6a"></td><td id = "7a"></td><td id ="8a"></td></tr>
    <tr><td id="9a"></td><td id ="10a"></td><td id = "11a"></td><td id ="12a"></td></tr>
    <tr><td id="13a"></td><td id ="14a"></td><td id = "15a"></td><td id ="16a"></td></tr>
    </table>
    <table >
      <tr><td id="1b"></td><td id ="2b"></td><td id = "3b"></td><td id ="4b"></td></tr>
      <tr><td id="5b"></td><td id ="6b"></td><td id = "7b"></td><td id ="8b"></td></tr>
      <tr><td id="9b"></td><td id ="10b"></td><td id = "11b"></td><td id ="12b"></td></tr>
      <tr><td id="13b"></td><td id ="14b"></td><td id = "15b"></td><td id ="16b"></td></tr>
      </table>
      <table >
        <tr><td id="1c"></td><td id ="2c"></td><td id = "3c"></td><td id ="4c"></td></tr>
        <tr><td id="5c"></td><td id ="6c"></td><td id = "7c"></td><td id ="8c"></td></tr>
        <tr><td id="9c"></td><td id ="10c"></td><td id = "11c"></td><td id ="12c"></td></tr>
        <tr><td id="13c"></td><td id ="14c"></td><td id = "15c"></td><td id ="16c"></td></tr>
        </table>
        <table >
          <tr><td id="1d"></td><td id ="2d"></td><td id = "3d"></td><td id ="4d"></td></tr>
          <tr><td id="5d"></td><td id ="6d"></td><td id = "7d"></td><td id ="8d"></td></tr>
          <tr><td id="9d"></td><td id ="10d"></td><td id = "11d"></td><td id ="12d"></td></tr>
          <tr><td id="13d"></td><td id ="14d"></td><td id = "15d"></td><td id ="16d"></td></tr>
          </table>
  </div>

  <form>
    <button id ="abbandona">abbandona</button>
  </form>
  <p>tic tac toe 3d</p>
  <p>----------------------------</p>
  <form id="classifica">
    <label for="dataFine">Ordine</label>
    <select name="ordine" id="ordine">
      <option value="asc">asc</option>
      <option value="desc">desc</option>
    
  </select>
    <button type='submit'>classifica</button>
  </form>

  <form id="formStoricoMosse">
    <label for="formato">Seleziona il Formato in Uscita:</label>
    <select name="formato" id="formato">
        <option value="PDF">PDF</option>
        <option value="JSON">JSON</option>
       
    </select>

    <label for="dataInizio">Data di Inizio:</label>
    <input type="date" id="dataInizio" name="dataInizio">

    <label for="dataFine">Data di Fine:</label>
    <input type="date" id="dataFine" name="dataFine">

    <button type="submit">Genera Storico Mosse</button>
</form>

  <p id = "class"></p>
</form>
<form id = 'turno'>
<button type="submit"> verifica stato partita</button>
</form>
  <script>
    //event listener per rispondere al click del bottone per effettuare la mossa, che richiama la rotta 'mossa' del server
    document.getElementById('bottone').addEventListener('click', function() {
      event.preventDefault();
        const select2= document.getElementById('lev');
        const valoreSel2 = select2.value;
        const select3= document.getElementById('row');
        const valoreSel3 = select3.value;
        const select4= document.getElementById('col');
        const valoreSel4 = select4.value;

        
        fetch('mossa?' + new URLSearchParams({livello:valoreSel2, riga: valoreSel3, col: valoreSel4,}).toString())
            .then(response => response.json())
            .then(data => {
              if (data.error) {
                alert(data.error); 
            } else {
                
               
                if (data.winner === "winner") {
                  if (data.player === "yes")
                    alert("hai vinto");
                  else
                    alert("hai perso");
                    
                }
                else alert(data.pos);
            }
        })
            .catch(error => {
                console.error('Errore:', error);
            });
            
    });
//event listener che risponde al click per l'abbandono della partita
    document.getElementById('abbandona').addEventListener('click', function () {
  fetch('\abbandona')
      .then(response =>response.text())
        .then(data => {
          alert(data);})
          .catch(error => {
                console.error('Errore:', error);
            });
});

//event listener che risponde al click quando si inserisce la mail dell'avversario
    document.getElementById('form').addEventListener('submit', function() {
      fetch('mail?'+ new URLSearchParams({mail: document.getElementById('mail').value,}).toString())
      .then(response => response.text())
            .then(data => {
                alert(data);})
            .catch(error => {
                console.error('Errore:', error);
            });
            
    });
//event listener per il click per visualizzare la classifica
    document.getElementById('classifica').addEventListener('submit', function() {
      event.preventDefault();
      const ordine = document.getElementById('ordine').value;
      fetch('classifica?'+ new URLSearchParams({ordine:ordine}).toString())
      .then(response => response.text())
            .then(data => {  document.getElementById("class").textContent = data;
                })
            .catch(error => {
                console.error('Errore:', error);
            });
            
    });
// event listener per la visualizzazione dello storico delle mosse
    document.getElementById('formStoricoMosse').addEventListener('submit', function(event) {
    event.preventDefault();

    const formato = document.getElementById('formato').value;
    const dataInizio = document.getElementById('dataInizio').value;
    const dataFine = document.getElementById('dataFine').value;

    fetch(`/storico-mosse?formato=${formato}&dataInizio=${dataInizio}&dataFine=${dataFine}`)
        .then(response => {
           
            if (!response.ok) {
                throw new Error('Errore nella richiesta');
            }
         
            const contentType = response.headers.get('content-type');
            if (contentType.includes('application/pdf')) {
          
                return response.blob();
            } else if (contentType.includes('application/json')) {
             
                return response.text().then(text => {
                    try {
                        return JSON.parse(text);
                    } catch (error) {
                        throw new Error('Errore nel parsing del JSON');
                    }
                });
            } else {
                throw new Error('Formato di risposta non supportato');
            }
        })
        .then(data => {
            if (formato === 'PDF') {
               
                const url = URL.createObjectURL(data);
                
                
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                a.download = 'storico-mosse.pdf'; 
                
              
                document.body.appendChild(a);
                a.click();
                
                
                window.URL.revokeObjectURL(url);
            } else if (formato === 'JSON') {
           
                console.log('Ricevuto JSON:', data);
                alert(JSON.stringify(data, null, 2));
            }
        })
        .catch(error => {
            console.error('Errore durante la richiesta:', error);
        });
});
//event listener per la visualizzazione del turno di gioco
document.getElementById('turno').addEventListener('submit', function() {
      event.preventDefault();
      
      fetch('turno')
      .then(response => response.text())
            .then(data => {
              alert(data);}
            )
            .catch(error => {
                console.error('Errore:', error);
            });
            
    });

//funzione che va a prendere i valori degli array che rappresentano i contenuti delle 4 tabelle per visualizzarli a schermo
    function aggiornaStatoPartita() {
    fetch('/stato-partita')
        .then(response => response.json())
        .then(data => {
            if (data.arrayss) {
                const arrayss = data.arrayss;
                arrayss.forEach((levelArray, levelIndex) => {
                    levelArray.forEach((cellValue, cellIndex) => {
                        const cellId = (cellIndex + 1) + String.fromCharCode(97 + levelIndex); 
                        document.getElementById(cellId).textContent = cellValue !== "1" ? cellValue : '';
                    });
                });
            }
        })
        .catch(error => {
            console.error('Errore:', error);
        });
}


//ogni 2 secondi viene eseguita la funzione aggiornaStatoPartita
setInterval(aggiornaStatoPartita, 2000);
</script>
  
</body>
</html>